@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: aqua;
  color: red;
  height:75px;
}
.header-buttons {
  margin-left: 20px;
  display: flex;
 justify-content: center;
 text-align: left;
 align-items: center;
 gap: 20px;
 font-size: 40px;
}
.introSection {
  text-align: center;
  gap: 50px;
  font-size: large;
  

}
.imageContainer {
  display: flex;
  margin-right: 50px;
  text-align: right;
  width: 1000px;
  height: 4oo00px;
  box-sizing: border-box;
  position: absolute;
  grid-row: var(1000px);
}